* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

body {

    background-color: #1B014D;

}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header nav {
    margin-top: 100px;
    box-sizing: border-box;
    height: 6vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    padding-right: 30px;
    z-index: 100;
}

.blurefect {

    background: #01010f86;
    backdrop-filter: blur(0.7rem);
}

nav .container-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 70%;
    padding-left: 3%;
    border-radius: 50px;
    box-sizing: border-box;
    overflow: hidden;
}


.container-nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-right: 5%;
    box-sizing: border-box;
    flex-direction: row;
    gap: 1.5%;
    font-size: 1vw;
}

.container-nav ul li a {
    padding-top: 5px;
    padding-bottom: 6px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 100px;
    text-decoration: none;
    transition: .2s;
}

.container-nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.473);
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

nav .container-nav-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 1%;
    height: 80%;
    width: 20%;
    gap: 4%;
}

nav .container-nav-button a {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 100px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}


.container-principal header {
    width: 100%;
    height: auto;
}

.container-principal header figure {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;   

}

.container-principal header figure .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 19%;
    background-color: #1b014d;
    clip-path: polygon(0 0, 100% 90%, 100% 110%, 0% 100%);
}

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    overflow-x: hidden !important;

}

.product-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-sizing: border-box;
}


.gallery-container {
    display: flex;
    flex-direction: row;
    gap: 1px;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.thumbnails {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
}

.thumbnails img {
    width: 6.5vw;
    height: 6.5vw;
    border-radius: 8px;
}

.main-image-container {
    overflow: hidden;
    border-radius: 15px;
}

.main-image {
    width: 22vw;
    height: 22vw;
    border-radius: 15px;
}

.product-details {
    text-align: left;
    width: 32vw;
    height: 21vw;
    background-color: #3b1586a4;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    gap: 1em;
}

.pd1 {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.product-details h1 {
    font-size: 2vw;
    margin-bottom: 0.5rem;
}

.product-details .platform {
    font-size: 1vw;
    color: #a0a0a0;

}

.product-details .price {
    font-size: 1vw;
    color: #2db8ff;
}

.product-details span {
    color: #ffffff;
    font-weight: bold;
    font-size: 2vw;
}

.container-button {
    width: 30vw;
    height: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

}

.button {
    background: linear-gradient(90deg, #6144d2, #2db8ff);
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 25vw;
    height: 4vw;
}

.button-like {
    background: linear-gradient(90deg, #6144d2, #2db8ff);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 8vw;
    height: 4vw;
    margin-left: 1vw;
}

.button:hover {
    background: linear-gradient(90deg, #2db8ff, #6144d2);
}

.button-like:hover {
    background: linear-gradient(90deg, #2db8ff, #6144d2);
}

.product-description {
    width: 70%;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.container-ad {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad {
    width: 50%;
    color: #ffffff7c;
}

.ad2 {
    width: 50%;
    color: #ffffff7c;
    margin-left: 40px;
}
    

.container-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-top: 20px;
}

.container-table h2 {
    margin-bottom: 20px;
}

.table-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #712baa;
    margin-bottom: 20px;
    font-size: 0.8vw;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 3px solid #8B50FF;
}

th {
    background-color: #4e1b79;
}

.highlight {
    background-color: #8454ba;
}


/*//*/

.comments-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 75%; 
    margin-bottom: 15px;
}

.comments-section h2 {
    font-size: 2vw;
    margin-bottom: 1rem;
}

.comments {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: 1em;
    width: 95%;
}

.comment {
    width: 25vw;
    background-color: #3B1586;
    border-radius: 10px;
    padding: 15px;
    color: #ffffff;
    font-size: 1vw;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    flex-direction: row;
}

.user-info img {
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    margin-right: 10px;
}

.user-name {
    font-weight: bold;
    color: #ffffff;
}

.stars {
    color: #3FA9ED;
    margin-top: 5px;
}

.comment p {
    margin: 0.5rem 0;
}

.comment-date {
    font-size: 0.8rem;
    color: #cccccc5a;
}

.rating-summary {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3B1586;
    border-radius: 10px;
    padding: 15px;
    color: #ffffff;
    width: 93%;
}

.rs {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.rating-summary .rs strong {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 24px;
}

.rating-summary .rs p {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0;
    color: #ffffff6c;
}

.average-rating {
    background-color: #3FA9ED;
    ;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
}



.container-footer .p1,
.p2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer{
    padding: 5px;
    background-color:#0c0220 ;
    display: flex;
    flex-direction: column;
}

footer .container-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
}

.container-footer .p1 article,
.p1 section, .p2 section {
    padding-top: 5px;
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.cont-footer-cont {
    display: flex;
    direction: row;
    align-items: center;
    padding-left: 7%;
    gap: 40px;
}

.p1 section,
.p2 section {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7%;
    gap: 10px;
}

.p1 section span,
.p2 section span {
    font-weight: bold;
}

.p2 section textarea {
    width: 80%;
    height: 50px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 14px;
    color: #ffffff;
    background-color: #1b014d;
    border-radius: 20px;
    font-family: FuenteNVS;
    resize: none; 
}

.p2 section textarea::placeholder {
    color:#ffffffa6;
}

.cont-footer-cont span {
    font-weight: bolder;
}

.cont-footer-cont ul {
    margin-top: 10px;
    list-style: none;
}

.p3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
}
.p3 p{
    color: rgba(255, 255, 255, 0.61);
}


.modal4 {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal4:target {
    display: block;
}


.modal4-content {
    background-color: #3B1586;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
}

.modal4-content label {
    margin-left: 5px;
    margin-bottom: 20px;
}

.modal4-content textarea {
    width: 95%; 
    height: 150px; 
    padding: 10px; 
    font-size: 14px;
    color: #CCCCFF; 
    background-color: #3A0A73; 
    border: none; 
    border-radius: 20px; 
    resize: none; 
    overflow-y: auto; 
    line-height: 1.5; 
    text-align: left; 
    vertical-align: top; 
    display: block; 
    white-space: pre-wrap; 
    margin-top: 5px;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaaaaa49;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

.close:hover,
.close:focus {
    color: rgb(42, 18, 67);
    text-decoration: none;
    cursor: pointer;
}

.button-rese単a {
    background: linear-gradient(90deg, #6144d2, #2db8ff);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%;
    height: 60px;   
}

.button-rese単a:hover {
    background: linear-gradient(90deg, #2db8ff, #6144d2);
}

.button-rese単ar {
    background: linear-gradient(90deg, #6144d2, #2db8ff);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 30%;
    height: 60px;  
    margin-top: 10px; 
}

.button-rese単ar:hover {
    background: linear-gradient(90deg, #2db8ff, #6144d2);
}

@media (max-width:900PX) {

    header nav {
        margin-top: 50px;
        box-sizing: border-box;
        height: 4rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        padding-right: 30px;
        z-index: 100;
    }

    nav {
        background-color: #0000007e;
        backdrop-filter: blur(0.7rem);
        height: 20px;
    }

    nav .container-nav {
        background-color: none;
        background: none;
        backdrop-filter: none;
        width: 100%;
        border-radius: none;
        margin-right: 0;
    }

    .container-nav-button a {
        background-color: none;
        background: none;
        backdrop-filter: none;
    }

    .container-nav ul {
        gap: 1px;
        margin: 0;
        padding: 0;
        width: 100%;
        margin-right: 0;
    }

    .container-nav ul li a {
        font-size: 13px;
    }

    .product-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 80%;
        margin-bottom: 2rem;
        border-radius: 10px;
        box-sizing: border-box;

    }

    .product-details {
        text-align: left;
        background-color: #3b1586a4;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
        
    }
    .product-description {
        width: 70%;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
    }
    
    .container-ad {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5vw;
    }
    
    .ad {
        width: 50%;
        color: #ffffff7c;
    }
    
    .ad2 {
        width: 50%;
        color: #ffffff7c;
        margin-left: 40px;
    }


    .comments {
        width: 100%;
    }
    
    .comment {
        font-size: 1.5vw;
    }

    .rating-summary {
        width: 96%;
    }
    
    .comments-section h2 {
        font-size: 3vw;
    }
    

}