body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    background-color: #1B014D !important;

}

.container2 {
    display: flex !important;
    color: #fff !important;
}

.sidebar {
    color: #fff !important;
    overflow-y: scroll !important;
    width: 25%;
    height: 100vh!important;
    background-color: #2F0B74;
    padding: 20px;
    display: flex !important;
    flex-direction: column !important;
    position: fixed;
}

aside
{
    height: 70%;
}

.sidebar::-webkit-scrollbar {
    -webkit-appearance: none;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #4919b9;

}

.profile {
    text-align: left;
    margin-bottom: 40px;
}

.profile img {
    width: 80px;
    margin: 0 auto 10px;
    float: left;
    margin-right: 10px;
}

.texto1 {
    font-size: 1.5vw;
    margin-bottom: 0;
    margin-top: 0;
}

.texto2 {
    font-size: 1vw;
    padding-top: 15px;
    color: #ffffff81;
}


/*/menuuuuuuuuuuuuu/*/


.contmenu-logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    height: auto;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 0;
    text-align: left;
}

.menu .ul-menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style-type: none !important;
    padding: 0;
    margin: 0;
}

.menu .ul-menu li {
    margin: 0;
    cursor: pointer;
    display: block;
    align-items: flex-start;
    position: relative;
    transition: .1s;
}

.menu .ul-menu li i {
    margin-right: 10px;
}

.menu ul li label {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.menu ul li ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    border-radius: 5px;
    margin-top: 0;
    padding-left: 30px;
}

.menu ul li input[type="checkbox"] {
    display: none;
}

.menu ul li input[type="checkbox"]:checked~ul {
    max-height: 500px !important;
}

.menu ul li ul li {
    padding: 10px !important;
    cursor: pointer !important;
}

.menu ul li ul li:hover {
    background-color: #7500D1 !important;
}

.logo {
    margin-top: 50px;
    width: 4vw;
    }

a {
    text-decoration: none !important;
    color: #fff !important;
}

.main-content {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 27%; 

}

h2 {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 5px;
}

.product-form {
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;
    box-sizing: border-box;
    overflow: hidden;
}

.visuals {
    padding-right: 20px;
    width: 70%;
    display: flex;
    justify-content: center;
}

.image-placeholder {
    background-color: #6411b3;
    width: 60%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.image-placeholder-left{
    width: 40%;
    height: 300px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    gap: 10px;
    box-sizing: border-box;
    align-items: center;
}

.img-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 99px;
    border-radius: 20px;
    background-color: #6411b3;
}

input[type="file"] {
    width: 98% !important;
    height: 35px !important;
    padding: 5px !important;
    margin-bottom: 10px !important;
    border: none !important;
    border-radius: 5px !important;
    background-color: #2e165f !important;
    color: #ffffff !important;
    border-radius: 50px !important;
    font-size: 10px;
}

.file-input::file-selector-button {
    background-color: #0f0022;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}


.product-details {
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
}


.product-details label {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: small;
    margin-top: 10px;
}

.product-details select {
    width: 80% !important; 
    height: 25px !important;
    padding-left: 5px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #4415A2;
    outline: none;
    color: #fff;
    border-radius: 50px;
    font-size: 9px;
    margin-bottom: 1px;
}
.product-details input[type="text"] {
    width: 80%; 
    height: 25px !important;
    outline: none;
    height: 5px; 
    padding: 8px;
    margin-bottom: none;
    border: none;
    border-radius: 5px;
    background-color: #4415A2;
    color: #fff;
    border-radius: 50px;
    font-size: 10px;
    
}

.about-section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.about-section .container-description textarea{
    width: 95%; 
    height: 100px; 
    padding: 10px; 
    font-size: 14px;
    color: #CCCCFF; 
    background-color: #3A0A73; 
    border: none; 
    border-radius: 20px; 
    resize: none; 
    overflow-y: auto; 
    line-height: 1.5; 
    outline: none;
    text-align: left; 
    display: block; 
    white-space: pre-wrap; 
}


.container-description {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 60%;
}
.about-section .container-description input[type="text"] {
    width: 90%; 
    height: 200px; 
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #4415A2;
    color: #fff;
    border-radius: 50px;
    font-size: 10px;
    justify-content: center;
    resize: none; 
    overflow-y: auto;
    vertical-align: top; 
    text-align: left; 
}

.product-details2 {
    width: 60%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    
}


.product-details2 label {
    display: block;
    margin-bottom: 1px;
    font-weight: bold;
    font-size: small;
    margin-top: 10px;
}

.product-details2 input[type="text"] {
    width: 30%; 
    height: 5px; 
    padding: 5px;
    outline: none;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4415A2;
    color: #fff;
    border-radius: 50px;
    font-size: 10px;
    
}


.form-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
}

.section {
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 10px;
    background-color: #5907a7;
}

.section h3 {
    margin-top: 0;
    color: #ffffff;
}

.row {
    display: flex;
    margin-bottom: 10px;
}

.cell { 
    flex: 1;
    padding: 10px;
    background-color: #340366;
    margin-right: 10px;
    border-radius: 5px;
}

.cell:last-child {
    margin-right: 0;
}

.cell label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.cell input[type="text"] {
    width: 95%;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #1b0035;
    color: white;
}

.submit-section {
    text-align: center;
}

.button {
    background: linear-gradient(90deg, #6144d2, #2db8ff);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 20%;
}

.button:hover {
    background: linear-gradient(90deg, #2db8ff, #6144d2);
}