* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NvsFont', sans-serif;
}

@font-face {
    font-family: 'NvsFont';
    src: url('../../../fuente/Quicksand-VariableFont_wght.ttf') format('truetype');
}

body {
    background-color: #1b014d;
    color: white;
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100px;
    gap: 3rem;
    z-index: 100;
    color: white;
}

header nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 10rem;
    gap: 3rem;
}

header nav ul {
    height: 100;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.menu-principal {
    padding: 0 2rem 0 2rem;
    background: #00000042;
    backdrop-filter: blur(0.7rem);
}

.menu-principal .contenedor-lista-principal {
    gap: 0.5rem;
}

.progreso-compra {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem 2rem;
    border-radius: 10rem;
}

.progreso-compra img {
    height: 30px;
}

.pasos {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
}

.pasos li {
    position: relative;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
}

.pasos li span {
    background-color: #2b145c;
    color: #888;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    margin-right: 0.5rem;
}

.pasos li.activo span {
    background-color: #9f5cff;
    color: rgb(255, 255, 255);
}

.pasos li.inactivo {
    color: rgba(255, 255, 255, 0.4);
}

.pasos li.inactivo span {
    background-color: #2b145c;
    color: rgba(255, 255, 255, 0.4);
}

.pasos li.activo::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% + 5px);
    width: 40px;
    height: 5px;
    background-color: #2b145c;
    transform: translateY(-50%);
    border-radius: 3px;
}

.contenido-principal {
    display: flex;
    gap: 2rem;
    padding: 120px 2rem 2rem;
    box-sizing: border-box;
}

.titulo-seccion {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 1rem;
}

.carrito {
    flex: 3;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.contenido-carrito {
    background-color: #310166;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    box-sizing: border-box;
}

.item-carrito {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f0c49;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
}

.item-carrito:hover {
    background-color: #4b0f88;
}

.item-carrito img {
    width: 190px;
    height: auto;
    border-radius: 0.5rem;
}

.info-producto {
    flex: 1;
    margin-left: 1rem;
}

.info-producto h3 {
    margin: 0;
    color: white;
}

.info-producto p,
.info-producto span {
    margin: 0.2rem 0;
    color: #ccc;
}

select {
    background-color: #0a021b;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    font-weight: bold;
}

.eliminar {
    background-color: #1f0c4900;
    color: #0a021b;
    border: none;
    padding: 0.5rem;
    margin-left: 0.5rem;
    font-size: 30px;
}

.eliminar i:hover {
    transition: transform 0.2s ease;
    cursor: pointer;
    transform: scale(1.2);
}

.resumen {
    display: flex;
    flex-direction: column;
}

.titulo-resumen {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.resumen-contenido {
    background-color: #130228;
    border-radius: 1rem;
    padding: 1.5rem;
    width: 320px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.detalle {
    display: flex;
    justify-content: space-between;
    color: #a3a3a3;
}

.detalle.total {
    font-weight: bold;
    color: white;
}

.boton-pago {
    background: linear-gradient(to right, #7e4efc, #00cfff);
    border: none;
    padding: 0.8rem;
    border-radius: 2rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.boton-pago:hover {
    box-shadow: 0 0 10px #7e4efc, 0 0 20px #00cfff, 0 0 30px #480ff4;
}

.continuar-compra {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a3a3a3;
    gap: 0.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none;
    color: inherit;
}

.continuar-compra:hover {
    color: #f3f4f6;
}

.alerta-violeta {
    border-radius: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.alerta-titulo {
    font-size: 1.6rem;
    color: #f3e8ff;
}

.btn-confirmar {
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
}

.btn-cancelar {
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
}

@media (max-width: 1024px) {
    header {
        height: 70px;
        background: #00000042;
        backdrop-filter: blur(0.7rem);
        padding: 0 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header nav {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 100%;
    }
    .menu-principal {
        width: 100%;
        padding: 0;
        background: none;
        backdrop-filter: none;
    }
    .menu-principal .contenedor-lista-principal {
        position: absolute;
        top: 70px;
        left: 0;
        width: 20rem;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
        background-color: rgba(0, 0, 0, 0.473);
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 150;
    }
    .menu-principal .contenedor-lista-principal.active {
        transform: translateX(0);
    }
    ul li {
        text-align: start;
        border-radius: 50px;
    }
    .contenido-principal {
        flex-direction: column;
    }
    .resumen-contenido {
        align-self: center;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .progreso-compra img {
        display: none;
    }
    .item-carrito {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #1f0c49;
        padding: 1rem;
        border-radius: 1rem;
        width: 100%;
    }
    .item-carrito img {
        width: 90%;
        height: auto;
        border-radius: 0.5rem;
        margin: 10px;
    }
    .info-producto {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .info-producto h3 {
        font-size: 2.5vw;
        color: white;
    }
    .info-producto p,
    .info-producto span {
        margin: 0.2rem 0;
        color: #ccc;
        font-size: 2vw;
    }
}