* {
    padding: 0%;
    margin: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    background-color: #1b014d;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    
}
header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: #1b014d;
}
.encabezado{
    background-color: rgba(0, 0, 0, 0.486);
    width: 80%;
    height: 50px;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 10px;
}
.n1{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.n2{
    background-color: #8b50ff;
    width: 40px;
    height: 40px; 
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: aliceblue;
    
}
.n3, .n3-1{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex; 
    align-items: center;
    justify-content: center;
    
}
.n3{
    background-color: rgba(0, 0, 0, 0.808);
    font-size: 15px;
    font-weight: bold;
}
.n1-1{
    width: 50px;
    height: 6px;
    background-color:#8b50ff ;
}
.almacen-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 70%; 
    margin-left: 25px;
} 


.envio{
    display: flex;
    flex-direction: column; 
    width: 125%;
    margin-left: 20px;
}
.envio .direccion-metodo{
    display: flex;
    flex-direction: column;
}
.envio .input1 , .input2{
    background-color: #522d9f;
    width: 90%;
    margin-bottom: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding-left: 10px;
    
}
.envio .input1{
    height: 70px;
}
.envio .input2{
    height: 100px;
    
}
.envio input::placeholder {
    padding: 4px;
    color: #ffffff75;
    
}
.envio .metodoPago{
    background-color:#2f0b74 ;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    height: 70px;
    width: 90%;
    margin-bottom: 8px;
}
.envio .metodoPago2{
    margin-left: 20px;
    margin-top: 10px;
}
.select{
    margin-top: 25px;
    margin-left: 400px;
    font-size: 20px;
    background-color: #2f0b74;
    color: aliceblue;
    border: none;
    width: 40px;
}
.select1{
    margin-top: 25px;
    margin-left: 330px;
    font-size: 20px;
    background-color: #2f0b74;
    color: aliceblue;
    border: none;
    width: 40px;
}
.metodoPago:hover{
    outline: linear-gradient(to left, #00bbff, #6a35cf);
}
.resumen{
    display: flex;
    flex-direction: column;
    width: 120%;
    margin-left: 30%;
}
.resumen-text{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 6px;
    margin-top: 10px;
    
    
}
.colRes{
    background-color: #15092b;
    width: 67%;
    border-radius: 10px;
}
.resumen-games{
    width: 260px; 
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    
}
.resumen-precios{
    width: 110px; 
    display: flex;
    flex-direction: column;
    margin-left: 60px;

}
.resumen-games .t1{
    color: rgb(189, 185, 185);
    margin-bottom: 5px;
}
.t2{
    color: rgba(255, 255, 255, 0.241);
    margin-bottom: 5px;
}
.button, .button1{
    margin-bottom: 10px;
    background: linear-gradient(to left, #00bbff, #6a35cf);
    color: white;
    font-size: 15px;
    width: 60%;
    height: 40px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    
}
.posicion-botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button{
    margin-top: 15px;
}
@media(max-width:1024px){
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
    .envio .input1 , .input2{
        width: 70%;
    }
    .envio .metodoPago{
        width: 70%;
    }
    .select{
        margin-left: 300px;
    }
    .select1{
        margin-left: 280px;   
    }
    .resumen{
        margin-left: 20px;
        
    }
}

