body {
    background-color: #1b014d;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilos del menú */

header nav {
    background-color: #0e0127;
    width: 100%;
    max-width: 1200px;
    height: 50px;
    display: flex;
    border-radius: 50px;
    border: solid 0.1px;
    border-color: #5900ff;
    margin: 30px auto 0 auto;
    position: sticky;
    top: 0;
    overflow: hidden;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    justify-content: space-between;
}

header nav ul li {
    position: relative;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-family: "Quicksand", sans-serif;
}

header nav ul li a:hover {
    background-color: #09001a;
    color: white;
    padding: 12px 10px;
    border-radius: 22px;
}

header nav ul li .dropdown-toggle {
    cursor: pointer;
}

header nav ul li .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #0e0127;
    border-radius: 5px;
    top: 100%;
    left: 0;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 200px;
}

header nav ul li .dropdown-menu a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

header nav ul li .dropdown-menu a:hover {
    background-color: #09001a;
}

/* Responsive Styles */

@media (max-width: 768px) {
    header nav {
        flex-direction: column;
        height: auto;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin-bottom: 10px;
    }

    header .Btns-Usu_Carrito_Buscar {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    header .Btns-Usu_Carrito_Buscar a {
        margin-left: 0;
        margin-bottom: 10px;
    }

    main .Centro {
        flex-direction: column;
        align-items: center;
    }

    main section#Uno .Menu_Usuario {
        width: 100%;
    }

    main section#Uno .Menu_Usuario .Imagenes_Menu_Usuario {
        flex-wrap: wrap;
        justify-content: center;
    }

    main section#Dos form input {
        width: 90%;
    }
}

@media (max-width: 480px) {
    header nav {
        height: auto;
        padding: 10px;
    }

    header .Btns-Usu_Carrito_Buscar a {
        padding: 7px 10px;
    }

    header section h1 {
        font-size: 30px;
    }

    hr {
        width: 90%;
    }

    main section#Uno .Menu_Usuario .Imagenes_Menu_Usuario img {
        width: 30px;
        margin-left: 5px;
    }

    main section#Uno .Menu_Usuario .Flechas_Menu_Usuario img {
        width: 20px;
    }

    main section#Dos form input {
        max-width: 90%;
    }

    main section#Dos form .Btn_Aceptar_Form {
        max-width: 90%;
    }
}